* {
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body {
    background-image: url('https://wallpapercave.com/wp/ItmVuT6.jpg');
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body * {
    box-sizing: border-box;
}

.lightbox {
  position: fixed;
  top: -100%;
  opacity: 0;
  left: 50%;
  width: 80%;
  height: 80%;
  background-color: white;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 10px 10px 106px -23px rgba(0,0,0,0.63);
  transition: all .5s;
  z-index: 100;
}

.active {
  top: 50%;
  opacity: 1;
}

main {
    height: 100%;
}

.container {
    position: relative;
    height: 100%;
}

.overlay {
  position: absolute;
  opacity: 0;
  top: -100%;
  left: 0;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.75);
  transition: opacity;
  z-index: 10;
  border-radius: 10px;
  border: red solid;
  overflow: auto;
  
}

.overlay.active {
  top: -80px;
  left: 50px;
  right: 50px;
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  height: 675px;
  padding: 50px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(89, 89, 95); 
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 116, 122); 
}

.overlay-content {
    border-radius: 18px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border: red 2px solid;
  color: red;
  text-align: center;
  padding-left: 1px;
  font-size: 20px;
  font-style: bold;
  cursor: pointer;
  font-family: Sans-Serif;
  border-radius: 15px;
  z-index: 50;
}

.navigate {
    width: 350px;
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 15px;
}

.source-and-search {
    margin-top: 2px;
    margin-bottom: 2px;
    z-index: 2;
}

.topic {
    color: rgb(255, 255, 88);
    background-color: rgba(255, 255, 255, 0.20);
    font-weight: 100;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 8px;
    border-radius: 10px; 
    margin-bottom: 2px;
    box-shadow: none;
    cursor: pointer;
}

.search-line {
    margin-bottom: 2px;
    background: black;
    border: rgb(255, 255, 88) solid;
    border-width: 2px;
    border-radius: 10px;
    width: 350px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.navigate input {
    width: 65%;
    margin-right: 18px;
    height: 30px;
}

.submit-input {    
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
}

input {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    letter-spacing: 0.5px;
    caret-color: white;
    outline: none;
    color: white;
}

input[type=text] {
    border: none;
    border-bottom: rgb(255, 255, 88) 2px solid;
    background: none;
}

input::placeholder {
    font-style: italic;
}

.instructions {
    color: rgba(255, 255, 255, 0.781);
    font-size: 20px;
    margin-top: 145px;
}

.splash {
    font-size: 80px;
    color: white;
    opacity: 1;
    text-shadow: 0 0 2px rgb(255, 255, 88);
    text-align: center;
    margin-top: 15%;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.hidden {
  display: none;
}

.click-here {
    opacity: 0.3;
    font-size: 50px;
}
